<div class="container pt-5">
    <div class="text d-flex justify-content-center align-items-center pt-5">
        <h1>What kind of website
            <br/>
            do you want to create?</h1>
    </div>
    <div class="categories d-flex justify-content-center align-items-center">
        <ul class="mt-5 mx-5">
            <li class="py-2">
                <a routerLink="">Business
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
                
            </li>
            <li class="py-2">
                <a routerLink="">Online Store
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
            <li class="py-2">
                <a routerLink="">Photography
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
            <li class="py-2">
                <a routerLink="">Music
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="mt-5 mx-5">
            <li class="py-2">
                <a routerLink="">Designer
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
                
            </li>
            <li class="py-2">
                <a routerLink="">Restaurants & Food
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
            <li class="py-2">
                <a routerLink="">Fitness
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
            <li class="py-2">
                <a routerLink="">Events
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
        </ul>

        <ul class="mt-5 mx-5">
            <li class="py-2">
                <a routerLink="">Blog
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
                
            </li>
            <li class="py-2">
                <a routerLink="">Beauty & Wellness
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
            <li class="py-2">
                <a routerLink="">Portfolio & CV
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
            <li class="py-2">
                <a routerLink="">Other
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.9 19">
                        <path d="M1.4 19L0 17.6l8.1-8.1L0 1.4 1.4 0l9.5 9.5"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</div>