<div class="container pt-5 page-color">
    <h1>View All Business Website Templates</h1>
    <div class="row">
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/comingsoon.png" />
                </a>
                <p class="py-3">Coming Soon Landing Page</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/success.png" />
                </a>
                <p class="py-3">Success Coach</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/ConstructionCompany.png" />
                </a>
                <p class="py-3">Construction Company</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/TheConsultant.png" />
                </a>
                <p class="py-3">The Consultant</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/BabySleep.png" />
                </a>
                <p class="py-3">Baby Sleep Consultant</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/VintageCar.png" />
                </a>
                <p class="py-3">Vintage Car Garage</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/BicycleRepairShop.png" />
                </a>
                <p class="py-3">Bicycle Repair Shop</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/HomeOrganizer.png" />
                </a>
                <p class="py-3">Home Organizer</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/MovingandStorageService.png" />
                </a>
                <p class="py-3">Moving and Storage Service</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/Mechanic.png" />
                </a>
                <p class="py-3">Mechanic</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/Taxi.png" />
                </a>
                <p class="py-3">Taxi</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/HealthCoach.png" />
                </a>
                <p class="py-3">Health Coach</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/KeynoteSpeaker.png" />
                </a>
                <p class="py-3">Keynote Speaker</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/BabyDevelopmentExpert.png" />
                </a>
                <p class="py-3">Baby Development Expert</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates py-3">
                <a routerLink="//editTemplate">
                    <img class="img-fluid" src="assets/images/Carpenter.png" />
                </a>
                <p class="py-3">Carpenter</p>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="py-3">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" routerLink="">1<span class="sr-only">(current)</span></a></li>
            <li class="page-item" aria-current="page">
              <a class="page-link" routerLink="">2 </a>
            </li>
            <li class="page-item"><a class="page-link" routerLink="">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
      </nav>
</div>