<div class="container py-5 page-color">
    <div class="site-header">
        <div class="row">
            <div class="col-6">
                <div class="site-text">
                    <h2>My Sites</h2>
                    <p>Select a site to edit, view and open its dashboard.</p>
                </div>
            </div>
            <div class="col-6">
                    <button routerLink="/categories" class="new-site float-right">Create New Site</button>
                    <div class="clearfix"></div>
                
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4">
            <div class="category-templates my-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/comingsoon.png" />
                </a>
                <p class="p-3 bg-white">Coming Soon Landing Page</p>
            </div>
        </div>
        <div class="col-4">
            <div class="category-templates my-3">
                <a routerLink="/editTemplate">
                    <img class="img-fluid" src="assets/images/success.png" />
                </a>
                <p class="p-3 bg-white">Success Coach</p>
            </div>
        </div>
       
    </div>

</div>