.page-color{
    background-color: #f5f7f7;
}
.site-header{
    .site-text{
        h2{
            font-weight: bold;
        }
    }
    .new-site{
        background-color: #3899ec;
        border-color: #3899ec;
        color: #fff;
        border-radius: 18px;
        padding: 0 23px;
    }
}
.category-templates{
    box-shadow: 0 0 25px 0 rgba(0,0,0,.08);
}

