.border-text{
    border: 2px solid orange;
}
.text-setting{
    display: none;
    background-color: #fff;
    box-shadow: 0 0 18px 0 rgba(22, 45, 61, 0.27);
    border-radius: 10px;
    width: 288px;
    overflow: hidden;
    height: auto;
    position: fixed;
    top: 137px;;
    left: 431px;
    z-index: 100000;
    .setting-header{
        background-color: #3899ec;
        height: 54px;
        min-height: 54px;
        box-sizing: border-box;
        position: relative;
        width: 100%;
    }
    .fa-times-circle{
        cursor: pointer;
    }
    .setting-body{
        .color-platte{
            display: grid;
            grid-template-areas: "color color color color";
            .color,.border-color,.text-color {
                height: 20px;
                width: 20px;
                background-color: orange;
                border-radius: 50px;
                margin: 10px auto;
                border: 1px solid black;
            }

        }
    }
}
.edit{
    display: none;
    .edit-shape{
        color: #000;
        text-align: left;
        z-index: 1058;
        //  top: 1320px;
        top: 0;
        // left: 162.5px;
        left: 0;
        visibility: inherit;
        position: absolute;
        li{
         min-width: 80px;;
        cursor: pointer;
        position: relative;
        color: #2d4150;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0 14px 0 0;
        padding: 0;
        font-size: 14px;
        list-style: none;
        box-sizing: border-box;
        height: 32px;
        background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
        box-shadow: 0 2px 6px 0 rgba(22, 45, 61, 0.55);
        border-radius: 16px;
        }
    }
}
.add-field{
    @extend .edit;
    .add-shape{
        @extend .edit-shape;
    }
}
.field-setting{
    @extend .text-setting;
    .add-fields{
        >div{
            cursor: pointer;
            border-top:1px solid gray;
            border-bottom:1px solid gray;
        }
    }
}
.edit-background{
    @extend .edit;
    ul{
        li{
            padding: 2px;
        }
    }
   
}
.edit-button{
    @extend .edit;
}
.button-setting{
    @extend .text-setting;
    top: 50px;
}
.background-setting{
    @extend .text-setting;
}
.info{
    h1{
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
    }
    h1::before{
        content:'';
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #000;
        bottom: 60px;
       
    }
    .readme{
        background-color: rgba(0, 0, 0, 1);
        border: 2px solid rgba(0, 0, 0, 1) ;
        height: 40px;
        width: 129px;
    a{
        color: #FFF;
    }
    }
}
.help-you{
    background-image: url(../../assets/images/helpyou.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    background-attachment: fixed;
    width: 100%;
    padding: 50px 0;
    position: relative;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #4caf5059;
    }
    h1{
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        &:before{
            content:'';
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: #000;
            top: -20px;
           
        }
    }
    .help-edit{
        border: 5px solid #000;
        text-align: center;
        padding: 25px 0;
        position: relative;
        h4{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
        }

        p{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 45%;
                height: 2px;
                background-color: #000;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .help-info{
            margin-top: 50px;
            span{
                display: block;
                margin-bottom: 20px;
            }
            a{
                display: inline-block;
                color: #000;
                background-color: #00a192;
                padding: 10px 40px;
                transition: all 0.5s ease-in-out;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .more-services{
        position: relative;
        a{
            display: inline-block;
            color: #fff;
            background-color: #000;
            padding: 10px 40px;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            border: 3px solid #000;
            &:hover{
                background-color: transparent;
                color: #000;
            }
        }
    }
}
.contact{
    background-color: rgba(87, 187, 191, 1);
   h3{
    text-transform: uppercase;
    position: relative;
   }
   h3::before{
    content:'';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
    bottom: 40px;
   }
    .contact-info{
        p{
            
            padding:0;
            margin: 0;
        }
        .contact-email{
            a{
                color: #000;
            }
        }
        .socials i{
            margin: 0 10px;
        }
        
    }

}
.contact-form{
    form{
        .form-group{
            input,textarea{
                background-color: transparent !important;
                border:2px solid #000 !important;
            }
        }

        .button-submit{
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid rgba(0, 0, 0, 1) ;
            height: 40px;
            width: 129px;
            color: #FFF;
        }
    }

}

.isSelected{
    background-color: orange;
    border: 1px solid #09c;
   
}
#editMenuStyle{
    z-index: 500;
    display: none;
    width: 250px;
    box-shadow: 0 0 15px #09c;
    border-radius: 20px;
    background-color: #f1f1f1;
    .closeEdit{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: #09c;
    }
    .colorEdit{
        div{
            height: 35px;
            #colorEdit{
                opacity: 0;
                z-index: 2;
                width:70px;
                padding: 10px 30px;
                height: 35px;
                background: linear-gradient(45deg,#1abc9c,#16a085,#2ecc71,#27ae60);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
        
            }
            #colorEditView{
                width:70px;
                height: 35px;
                background: linear-gradient(45deg,#1abc9c,#16a085,#2ecc71,#27ae60);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
                
            }
        }
    }
}