.forget-password {
  div.forget{
    > .card {

      > mdb-card-body {
        > div {
          > div {
            > button{
              border-radius: 50px;
              color: #3899ec;
              padding: 10px 50px;
              box-shadow: inset 0 0 0 1px #3899ec;
              border: none;
              transition: all 0.5s ease-in-out;
              &:hover{
                background-color: #3899ec;
                color: #fff;
              }
            }
          }
          >div{
            .forget {
                margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/*footer*/

footer{
  .terms-of-use{
    text-align: center;
    font-size: 14px;
  }
}
